<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<h2>Admin Page</h2>
<div class="col-auto">
    <form action="/employee">
        <button class="btn btn-primary" type="submit">Employee</button>
    </form>
</div>
<div class="col-auto">
    <form action="/role">
        <button class="btn btn-primary" type="submit">Role</button>
    </form>
</div>
<div class="col-auto">
    <form action="/product">
        <button class="btn btn-primary" type="submit">Product</button>
    </form>
</div>
<div class="col-auto">
    <form action="/category">
        <button class="btn btn-primary" type="submit">Category</button>
    </form>
</div>

<!-- Add more buttons for other API operations -->
</body>
</html>